<section id="testimonials" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Testimonials</h2>
                <p>Have we done good work for you in the past?
                <br />
                Please feel free to leave a testimonial for us!</p>
                <a href='/views/testimonials' class="btn btn-default btn-lg">Create Testimonial</a>
            </div>
        </div>
    </div>
</section>
