<%= @testimonial.title %>

<%= link_to 'All Testimonials', testimonial_posts_path, class: 'btn btn-primary' %>

      <table class="table table.hover">
          <tr>
              <th> Testimonial Name </th>
          </tr>
      </table>
